// Brett McCaffray

@import url("http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700");

$dblue: #212B3F; /* dark blue rgb(33, 43, 63) */
$lblue: #1D2E5D; /* light blue rgb(29, 46, 93) */
$lgray: #383C45; /* light gray rgb(56, 60, 69) */
$lgrayblue: #636E85; /* light gray blue rgb(99, 110, 133) */
$llgrayblue: #99ABD1; /* light light gray blue rgb(153, 171, 209) */
$bblue: #61D6FA; /* baby blue rgb(97, 214, 250) */
$dbblue: #7CB9CC; /* dark baby blue rgb(124, 185, 204) */
$dbgreen: #7FCC7C;
$lgraygreen: #708C81;

body {
    font-family: "Josefin Slab", serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #fff;
    background: url('../images/lake.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    color: $dbgreen;
    text-decoration: none;
}

a:hover {
    color: #aaa;
}

.overlay {
    background: rgba($lgray, .80);
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.title {
    margin: 100px auto 0px;
    width: 900px;
    font-size: 76px;
}

.nav {
    margin: 150px auto;
    width: 900px;
}

.box {
    float: left;
    transform: rotate(45deg);
    width: 250px;
    height: 250px;
    margin: 0 0 12% 0;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);

    .boxBg {
        position: relative;
        width: 150%;
        height: 150%;
        top: -70%;
        left: -20%;
        z-index: -1;
        background: url('../images/city.jpg') no-repeat;
        background-size: 100%;
        transform: rotate(-45deg);
    }
}

.box.bot {
    margin-top: -165px;
}
.boxBg.bot {
    top: -125%;
    background: url('../images/sticky.jpg') no-repeat;
    background-size: 100%;
}

.square {
    position: relative;
    display: inline-flex;
    width: 125px;
    height: 125px;
    background-color: $lgraygreen;

    padding: 5px;

    .squareBg {
        width: 125px;
        height: 125px;
        background-color: rgba($lgray, 1);
    }

    .icon {
        position: absolute;
        transform: rotate(-45deg);
        fill: $lgraygreen;
    }
    .text {
        position: absolute;
        transform: rotate(-45deg);
        color: $dbblue;
        display: none;
    }
    .about {
        margin: 22% 19%;
        width: 68px;
        height: 68px;
    }
    .atext {
        margin: 39% 23%;
    }
    .projects {
        margin: 25% 24%;
        width: 60px;
        height: 60px;
    }
    .ptext {
        margin: 38% 22%;
    }
    .resume {
        margin: 15% 13%;
        width: 88px;
        height: 88px;
    }
    .rtext {
        margin: 37% 19%;
    }
    .contact {
        margin: 20% 21%;
        width: 68px;
        height: 68px;
    }
    .ctext {
        margin: 39% 19%;
    }
}

.square.rotate{
    float: left;
    transform: rotate(45deg);
    margin: -25px 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.square.rotate.first{
    margin-right: 45px;
}

.square:hover {
    background-color: $dbgreen;

    .icon {
        display: none;
    }
    .text {
        color: $dbgreen;
        display: block;
    }
}

.square.top{
    background-color: transparent;
    background-image: -webkit-linear-gradient(top left, rgba($lgraygreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: -moz-linear-gradient(top left, rgba($lgraygreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: -o-linear-gradient(top left, rgba($lgraygreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: linear-gradient(to bottom right, rgba($lgraygreen, 1) 40%, rgba($lblue, 0) 90%);
}
.square.top:hover {
    background-image: -webkit-linear-gradient(top left, rgba($dbgreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: -moz-linear-gradient(top left, rgba($dbgreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: -o-linear-gradient(top left, rgba($dbgreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: linear-gradient(to bottom right, rgba($dbgreen, 1) 40%, rgba($lblue, 0) 90%);
}

.square.bot {
    background-color: transparent;
    margin: 115px 0 0 115px;
    background-image: -webkit-linear-gradient(bottom right, rgba($lgraygreen, 1) 50%, rgba($lblue, 0) 90%);
    background-image: -moz-linear-gradient(bottom right, rgba($lgraygreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: -o-linear-gradient(bottom right, rgba($lgraygreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: linear-gradient(to top left, rgba($lgraygreen, 1) 40%, rgba($lblue, 0) 90%);
}
.square.bot:hover {
    background-image: -webkit-linear-gradient(bottom right, rgba($dbgreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: -moz-linear-gradient(bottom right, rgba($dbgreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: -o-linear-gradient(bottom right, rgba($dbgreen, 1) 40%, rgba($lblue, 0) 90%);
    background-image: linear-gradient(to top left, rgba($dbgreen, 1) 40%, rgba($lblue, 0) 90%);
}

.slogan {
    margin: -135px auto 0px;
    padding-left: 350px;
    width: 600px;
    font-size: 28px;
}

.content {
    background: $lgray;
    border-top: 5px solid $lgraygreen;
    width: 100%;

    .link {
        color: $dbgreen;
    }

    .section {
        text-align: center;
        padding-top: 8%;
        padding-bottom: 8%;

        h1 {
            font-weight: 400;
            font-size: 40px;
        }
    }
    .section.about {
        img {
            margin: 5% auto 0;
            width: 200px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
    }
    .section.projects {
        .project {
            text-align: center;
            margin-top: 8%;

            a {
                font-weight: 400;
                font-size: 28px;
            }
            h3 {
                font-weight: 400;
                font-size: 28px;
            }
        }

        img {
            width: 80%;
            margin: 0 10%;
        }
    }
    .clear.line {
        height: 1px;
        width: 80%;
        margin-left: 10%;
        background: $lgraygreen;
        visibility: visible;
    }
}

@media(max-width: 950px){

}